In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
from pandas_profiling import profile_report

In [3]:
#loading the dataset
data = pd.read_csv('creditcard.csv')

In [4]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

Performing EDA on the dataset

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
#distribution of legit transaction and fraudulent transaction
data.Class.value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [8]:
#seperating data for analysis
legit = data[data.Class == 0]
fraud = data[data.Class == 1]

In [13]:

print("-"*20 ,"legit" , "-"*21)
print(legit.Amount.describe())
print("-"*50)
print("-"*50)
print("-"*20 ,"fraud" , "-"*23)
print(fraud.Amount.describe())
print("-"*50)

-------------------- legit ---------------------
count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64
--------------------------------------------------
--------------------------------------------------
-------------------- fraud -----------------------
count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64
--------------------------------------------------

In [17]:
# compare the value for both transaction
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [21]:
print("_."*35)
print("_."*35)
print("_."*35)

_._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._.
_._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._.
_._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._._.

Dealing with unbalanced data 
Using Under-Sampling(Undersampling is a technique to balance uneven datasets by keeping all of the data in the minority class and decreasing the size of the majority class)

In [22]:
legit_sample = legit.sample(n=492)

In [25]:
balanced_data = pd.concat([legit_sample, fraud] , axis=0).reset_index()

In [26]:
balanced_data.head()

,index,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,51212,44842.0,-1.260371,0.132965,1.345206,-0.009277,-0.126351,-0.995923,-0.139421,0.542132,...,0.035277,-0.185584,-0.181048,0.401482,0.299312,0.253140,-0.150567,-0.165312,11.50,0
1,26581,34150.0,-0.987912,-0.388574,1.181012,-0.047200,0.430090,0.496696,1.187536,-0.044080,...,0.223590,0.507040,0.311246,-0.193958,-0.094529,1.160352,-0.205636,-0.124279,213.25,0
2,38953,39628.0,-1.419886,1.808589,0.457963,2.471223,0.183311,1.305300,-0.093348,0.953873,...,0.280318,0.568673,-0.271461,-1.097679,0.534855,0.487792,-0.576308,-0.183791,43.98,0
3,137052,81995.0,-7.660513,6.227390,-3.559172,-0.753407,-3.659708,-0.992211,-2.841584,4.251451,...,-0.299404,-0.860742,0.657066,0.122754,0.799827,0.170010,1.009750,0.697160,8.91,0
4,278262,168125.0,2.035990,-0.043066,-2.233969,-0.135693,0.699338,-1.020614,0.654238,-0.341806,...,0.213731,0.616605,-0.027957,0.753587,0.385775,0.188581,-0.099259,-0.078279,31.01,0

In [31]:
balanced_data.Class.value_counts()

0    492
1    492
Name: Class, dtype: int64

In [35]:
balanced_data.groupby('Class').mean()

,index,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,142776.538618,94805.071138,0.064863,0.004457,0.065307,-0.144380,0.040621,-0.044255,0.051619,0.033094,...,-0.022768,0.026950,-0.016357,-0.007776,0.007739,0.026184,-0.007008,0.009762,0.003955,81.753598
1,119295.058943,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

spliting data into test and train set

In [33]:
X = balanced_data.drop(columns='Class', axis=1)
y = balanced_data.Class

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,stratify = y)

model training 
i.e Logistic Regression

In [39]:
model = LogisticRegression()

In [40]:
model.fit(X_train,y_train)

C:\Users\91962\AppData\Roaming\Python\Python37\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

model evaluation

In [42]:
prediction = model.predict(X_test)

In [43]:
accuracy_score(prediction , y_test)

0.949238578680203